/* slide-related */
#slides {
  padding:0 20px 10px;
}

#slides .slide-header {
  margin:0;
}

.highlight {
  background:#fff;
}

#slides .slide-header.highlight, #slides .slide-header.highlight a {
  background:#a7a697;
  color:#fff;
}

#slides .slide-header.highlight a:hover {
  background:#6A909F;
}

.slide-header {
  background:white;
}

.slide-header a {
  background:#fff;
}

.slide-header a:hover {
  background:#6A909F;
  color:white;
}

.slide-header .previous { 
  float:left;
  width:360px;
  padding:10px;
  display:block;
}

.slide-header  .next { 
  float: right;
  width:360px;
  padding:10px;
  text-align:right;
  display:block;
}

#table-of-contents {
  position:absolute;
  left:0;
}

#table-of-contents li {
  padding:0 20px 0 0;
}

/* code path slide styles */
.code-path-slide {
  display:none;
}

#code-path .slide-header .previous, #code-path .slide-header .next { 
  width:340px;
}


/* general styles */
body {
  color:#302d30;
  background:#EEEEDD;
  line-height:1.6em;
}

a {
  color:#E56100;
  text-decoration:none;
}

a:hover {
  color:#60828f;
}

.long li, #table-of-contents li {
  margin-bottom:1em;
}

li.active a {
  color:#60828f;
}


#wrapper {
  width:800px;
  margin: 0 0 0 200px;
}

#main {
  background:white;
}

#code-path {
  padding:10px 20px;
  background:#eee;
}